button#nav-btn {
  background-color: transparent;
  border: none;
  text-align: left;
  cursor: pointer;
  padding: 0;
  color: var(--dark);
  display: flex;
  align-items: center;
  margin-bottom: 0.2rem;

  & h3 {
    display: inline-block;
    margin: 0;
  }

  & .fold {
    margin-left: 0.5rem;
    transition: transform 0.3s ease;
    opacity: 0.8;
  }

  &.collapsed .fold {
    transform: rotateZ(-90deg);
  }
}

nav {
  list-style: none;
  overflow:hidden;
  max-height: none;
  transition: max-height 500ms cubic-bezier(0.180, -0.215, 0.000, 1.405); /* custom */

  & .popover {
    display: none;
  }

  &.collapsed > .overflow::after {
    opacity: 0;
  }

  p {
    display: none;
  }

  span {
    font-size: 13px;
    font-style: italic;
    letter-spacing: 0.4px;
    color: rgba(134, 134, 134, 0.776);
  }

  ul {
    padding-left: 5px;
    list-style: none;
    margin: 0 0 -0.05rem 0.5rem;

    ul {
      margin-left: 0;
    }

    p {
      display: inline;
    }

    li {
      position: relative;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 15px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;

      &:before {
        position: absolute;
        top: 15px;
        left: 0;
        width: 10px;
        height: 1px;
        margin: auto;
        content: "";
        background-color: #666;
      }

      &:after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 1px;
        height: 100%;
        content: "";
        background-color: #666;
      }

      &:last-child:after {
        height: 15px;
      }
    }

    a {
      cursor: pointer;

      &:hover {
        text-decoration: none;
      }
    }
  }
}